<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php

    # Route /api/ requests to index.php
    RewriteRule ^api/(.*)$ index.php [L,QSA]

    # Routing ke index.php jika file/folder tidak langsung ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
