<IfModule mod_rewrite.c>
    RewriteEngine On

    # Routing ke index.php jika file/folder tidak langsung ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
